<div>
    <h2 id="page-heading">
        <span>Order Infos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-info" [routerLink]="['/order-info/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Order Info
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orderInfos?.length === 0">
        <span>No orderInfos found</span>
    </div>
    <div class="table-responsive" *ngIf="orderInfos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Amount</span></th>
            <th scope="col" ><span>Order Date</span></th>
            <th scope="col" ><span>Customer</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orderInfo of orderInfos ;trackBy: trackId">
                <td><a [routerLink]="['/order-info', orderInfo.id, 'view' ]">{{orderInfo.id}}</a></td>
                <td>{{orderInfo.amount}}</td>
                <td>{{orderInfo.orderDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="orderInfo.customer">
                        <a [routerLink]="['/customer', orderInfo.customer?.id, 'view' ]" >{{orderInfo.customer?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/order-info', orderInfo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/order-info', orderInfo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(orderInfo)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
